
<?php
$this->setFileTemplate ( 'news' );
$row = $this->getGalleryItem ();

if ($row) {
	
	?>

<div class="cat">
	<ul class="crumbs">
		<li><a href="/">Главная</a>&nbsp;&gt;</li>
				<?php/*
	$bread = $this->getHelper ( 'breadcrumbs' )->getRoad ();
	if (count ( $bread ) > 0) {
		foreach ( $bread as $path ) {
			echo '<li>' . $path . '</li>';
		}
	}
	*/	
	?>
	
	<li>Автопарк</li>
				
			</ul>
	<div class="clear"></div>
	<h1><?php echo $row['name'] ?></h1>
</div><?php
	$images = $this->getItemImages ( $row ['id'], 'all' );
	
	if ($images != false && count ( $images ) > 0) {
		
		echo '<ul style="list-style:none;" id="gallery">';
		foreach ( $images as $image ) {
			echo '<li style="float:left; width:150px; height:150px; margin-left:10px; margin-bottom:20px;"><a href="/' . $image->path . '/' . $image->file . '" rel="gallery"><img src="/thumbs/150x150/' . $image->path . '/' . $image->file . '" /></a><li>';
		}
		echo '</ul><div style="clear:both;"></div>';
		echo '<p>' . $row ['desc'] . '</p>';
	} else {
		$this->setError ();
		echo '<p>Страница не найдена</p>';
	}
} else {
	$this->setError ();
	echo '<p>Страница не найдена</p>';
}
echo '<p align="right"><a href="' . $this->getUrl ( array (
		'module' => 'gallery' 
) ) . '">Возврат</a></p>';
