<p class="pageTitle">Автопарк</p>
<?php
BreadcrumbsTitle::set('Автопарк');
Metas::setDescription('Автопарк');
Metas::setKeywords('Автопарк');
$this->setFileTemplate('news');
$this->setLimit('all');
?>

<div class="contentArea">
	<div class="contentRow">
		
<?php
foreach ($this->getGallery() as $row) {
	echo '<p>' . $row->notice . '</p>';
		
    $images = $this->getItemImages($row->id, 5);
    if ($images != false && count($images) > 0) {		
		echo '<ul class="parkPhotos">';
		foreach ($images as $image) {
			echo '<li><img src="/thumbs/378x261/' . $image->path . '/' . $image->file . '" /></li>';
		}
		echo '</ul>';
        //echo '<h3>' . $row->name . '</h3>';
        //echo '<ul style="list-style:none;" id="gallery">';
        //foreach ($images as $image) {
            //echo '<li style="float:left; width:150px; height:150px; margin-left:10px; margin-bottom:20px;"><a href="/' . $image->path . '/' . $image->file . '" rel="gallery"><img src="/thumbs/150x150/' . $image->path . '/' . $image->file . '" /></a><li>';
        //}
        //echo '</ul><div style="clear:both;"></div>';
        //echo '<p>' . $row->notice . '</p>';
        //if (count($images) > 4) {
            //echo '<p align="right" style="padding-right:400px"><a href="' . $this->getUrl(array(
                //'module' => 'gallery',
                //'gallery' => $row->id
            //)) . '">Посмотреть все фотографии</a></p>';
        //}
    }
}
?>
	</div>
</div>
