<!--FOOTER WITH OPEN BLOCK FIELD-->
<footer id="footer">
	<div class="back-to-top-link">
		<a href="#top"><span class="arrow"></span>Top</a>
	</div>
	<div class="footer-wrapper">
		<div id="secondaryNav" data-content-field="navigation-secondaryNav"></div>
		<div class="sqs-layout sqs-grid-12 columns-12"
			data-layout-label="Footer Content" data-type="block-field"
			data-updated-on="1457538396926" id="footerBlocks">
			<div class="row sqs-row">
				<div style="float:right">
					<p>Email: <a href="mailto:administrator@avgustcenter.ru">administrator@avgustcenter.ru</a></p>
					<ul style="list-style:none; margin:0; padding:0">
						<li style="float:left; margin:0 10px 0 0"><a href="https://www.instagram.com/avgustcenter/" target="_blank"><img src="/template/default/img/pic36-1.png" alt=""></a></li>
						<li style="float:left;"><a href="https://www.facebook.com/avgustcenter/" target="_blank"><img src="/template/default/img/pic36-2.png" alt=""></a></li>
					</ul>
				</div>
				
				<p>Адрес: Ростовская набережная, д. 3, Москва, Россия</p>
				<p>Телефон:&nbsp;<a href="tel:+74992527152" target="_blank" style="margin-right:40px">+7 499 252 71 52</a> <a href="tel:+79251869777" target="_blank">+7 925 186 97 77</a>
			</div>
			<div class="row sqs-row">
				<div class="col sqs-col-12 span-12">
					<div class="sqs-block html-block sqs-block-html"
						data-block-type="2" id="block-yui_3_17_2_3_1449250383524_8674">
						<div class="sqs-block-content">
							<blockquote class="text-align-center">
								<?php echo $this->getBlock('infoblock_18');?>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
</div>
</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter40221549 = new Ya.Metrika({
                    id:40221549,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/40221549" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<script type="text/javascript" src="/template/default/js/custom.js"></script>
</body>
</html>

