<?php
$this->setLimit ( 'all' );
$slides = $this->getSlider ();
if (is_array ( $slides ) && count ( $slides ) > 0) {
	//echo '<pre>' . print_r($slides, true) . '</pre>';

	echo '        <div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="2.2916666666666665"
	data-block-type="21" id="block-yui_3_17_2_2_1449235828282_101473">
	<div class="sqs-block-content">&nbsp;</div>
	</div>
	<div class="sqs-block html-block sqs-block-html" data-block-type="2"
	id="block-yui_3_17_2_2_1449232971419_257827">
	<div class="sqs-block-content"><h2>Тема&nbsp;Месяца</h2></div>
	</div>
	<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47"
	id="block-yui_3_17_2_2_1449232971419_265036">
	<div class="sqs-block-content">
	<hr>
	</div>
	</div>
	<div class="sqs-block gallery-block sqs-block-gallery"
	data-block-json="{&quot;hSize&quot;:null,&quot;floatDir&quot;:null,&quot;methodOption&quot;:&quot;transient&quot;,&quot;existingGallery&quot;:null,&quot;design&quot;:&quot;slideshow&quot;,&quot;aspectRatio&quot;:null,&quot;autoplay&quot;:true,&quot;autoplay-duration&quot;:5,&quot;controls&quot;:true,&quot;auto-crop&quot;:true,&quot;thumbnails&quot;:false,&quot;thumbnail-strip-height&quot;:116,&quot;thumbnail-strip-margin&quot;:11,&quot;show-meta&quot;:true,&quot;meta-position&quot;:&quot;top-left&quot;,&quot;show-meta-on-hover&quot;:false,&quot;active-alignment&quot;:&quot;center&quot;,&quot;collectionId&quot;:&quot;56619544e4b07671ceebf786&quot;,&quot;existingGalleryId&quot;:null,&quot;vSize&quot;:null,&quot;transientGalleryId&quot;:&quot;56619544e4b07671ceebf786&quot;}"
	data-block-type="8" id="block-yui_3_17_2_2_1449235672131_18688">
	<div class="sqs-block-content">
	<div class="sqs-gallery-container sqs-gallery-block-slideshow sqs-gallery-has-controls sqs-gallery-block-show-meta sqs-gallery-block-meta-position-top-left clear">
	<div class="sqs-gallery">
	';
	foreach ( $slides as $row ) {
		$image = $this->getItemImage ( $row->id );
		if ($row->pageLink == '') {
			$row->pageLink = '#';
		}
		if ($image) {
			echo '     <div class="slide content-fill" data-type="image"
			data-click-through-url="/article-1">

			<a class="content-fill" href="'.$row->pageLink.'">
			<img src="'.$image->path.'/'.$image->file.'" class="thumb-image"
			alt="Post.png" data-src="'.$image->path.'/'.$image->file.'"
			tppabs="'.$image->path.'/'.$image->file.'"
			data-image="'.$image->path.'/'.$image->file.'"
			data-image-dimensions="1140x398"
			data-image-focal-point="0.5,0.5" data-load="false"
			data-image-id="569fb97169492e3966511e6c" data-type="image">
			</a>


			<div class="color-overlay"></div>
			</div>';

		}
	}
	//echo '</ul></div>';
	echo '      </div>


	<div class="sqs-gallery-meta-container">


	<div class="sqs-gallery-controls">
	<a href="#" class="previous"></a>
	<a href="#" class="next"></a>
	</div>


	</div> <!-- END .sqs-gallery-meta-container -->


	</div>


	</div>
	</div>';
}

?>







