<?php include __DIR__ .'/blocks/header.phtml';?>
<script type="text/javascript">
		$(window).load(function() {
			var fuels = {<?php echo $this->getBlock('infoblock_9');?>};
			
			var fuels_options = '';
			var counter = 0;
			$.each(fuels, function(key, val) {
				
				if(counter == 0) {
					$('input#fuel_price').val(val);
				}
				
				fuels_options += '<option value="' + key + '">' + key + '</option>';
				counter++;
			});
			
			$('select#fuels').html(fuels_options).change(function() {
				$('input#fuel_price').val(fuels[$(this).val()]);
			});			
			
			$('#slider1').slider({
				range: 'min',
				//min: 0,
				//max: 1000,
				<?php echo $this->getBlock('infoblock_10');?>,
				//value: 500,
				slide: function(event, ui) {
					$('#amount1').val(ui.value);
					var fuel= parseInt($('#fuel_price').val());
					var delilvery = parseInt($('#delivery_price').val());
					var vals = parseInt($('#amount1').val());
					var total= parseInt(fuel*vals+delilvery);
					
					$('#totalprice').val(total); 
					
				}
			});
			$('#amount1').val( $('#slider1').slider('value') );
			
						
			$('#amount1').change(function() {
				var val = $(this).val();
				
				$('#slider1').slider({value: val});
				
				var fuel= parseInt($('#fuel_price').val());
				var delilvery = parseInt($('#delivery_price').val());
				var vals = parseInt($('#amount1').val());
				var total= parseInt(fuel*vals+delilvery);
					
				$('#totalprice').val(total); 
				
				
			});
			
			$('#amount2').change(function() {
				var val = $(this).val();
				
				$('#slider2').slider({value: val});
			});
			
			$('#slider2').slider({
				range: 'min',
				//min: 0,
				//max: 1000,
				<?php echo $this->getBlock('infoblock_11');?>,
				//value: 300,
				slide: function(event, ui) {
					$('#amount2').val(ui.value);
					
				}
			});
			$('#amount2').val( $('#slider2').slider('value') );


			
		});
	</script>

<div class="rowBlock3">
	<p class="blockTitle">
		Дизельное топливо<br> с доставкой по Москве и области <span>Объем от
			500 литров. Цена от <i>25 рублей</i>.<br>Все виды ГОСТов.
		</span>
	</p>
	<ul>
		<li><b>высокое качество продукта</b>
			<p>Поставляем нефтепродукты (гсм оптом) высшего качества только от
				проверенных и надежных поставщиков.</p></li>
		<li><b>доступные цены на топливо</b>
			<p>Мы рады предложить вам конкурентные цены на топливо &ndash; на
				сайте всегда актуальная информация.</p></li>
		<li><b>собственные бензовозы</b>
			<p>Мы имеем собственный автопарк бензовозов, поэтому заказать
				доставку топлива у нас выгодно нашим клиентам!</p></li>
	</ul>
	<div class="clear"></div>
</div>

<div class="rowBlock4">
	<p class="blockTitle">Закажите доставку</p>
	<form action="#" method="post">
		<fieldset>
			<table>
				<tr>
					<th>Выберите сорт топлива:</th>
					<td colspan="3"><select size="1" name="s" id="fuels">
							<option value="">АИ 92 ТУ</option>
					</select>
					</td>
				</tr>
				<tr>
					<th>Выберите объем, литров:</th>
					<td><input type="text" class="w1" id="amount1"></td>
					<td><span>литров</span></td>
					<td>
						<div id="slider1" class="singleSlider"></div>
					</td>
				</tr>
				<tr>
					<th>Выберите доставку, км от МКАД:</th>
					<td><input type="text" class="w1" id="amount2" value="50"></td>
					<td><span>км от МКАД</span></td>
					<td>
						<div id="slider2" class="singleSlider"></div>
					</td>
				</tr>
				<tr>
					<td colspan="4"><label><input type="checkbox">самовывоз без
							доставки</label>
						<ul class="bottomFields">
							<li><div>
									Цена за литр: <input id="fuel_price" type="text" value="32,25">
								</div></li>
							<li><div>
									Цена доставки: <input type="text" id="delivery_price"
										value="4500">
								</div></li>
							<li><div>
									Итоговая цена: <input type="text" id="totalprice"
										value="125000">
								</div></li>
						</ul>
					</td>
				</tr>
			</table>
			<input type="submit" id="calc" class="siteButton orderForm"
				value="Сделать заказ на топливо">
		</fieldset>
	</form>
</div>

<div class="rowBlock5">
	<p class="blockTitle">Наша продукция</p>
	<ul>
		<li class="item378"><a href="/06_prices.html" class="h261"><img
				src="/template/default/img/pic378-1.jpg" alt=""><span>Топливо для
					спецтехники</span> </a>
			<ul>
				<li>&ndash;&nbsp;от 100 л.</li>
				<li>&ndash;&nbsp;Круглосуточно, без выходных</li>
				<li>&ndash;&nbsp;Доставка в течении 4-х часов</li>
			</ul> 
<!--
			<a href="/06_prices.html" class="siteButton">Подробнее</a>
-->
		</li>
		<li class="item378"><a href="/06_prices.html" class="h261"><img
				src="/template/default/img/pic378-2.jpg" alt=""><span>Топливо для
					коттеджей</span> </a>
			<ul>
				<li>&ndash;&nbsp;Шланг 50 метров</li>
				<li>&ndash;&nbsp;Доставка в выходные дни</li>
				<li>&ndash;&nbsp;Доставка от 100 литров</li>
			</ul>
<!--
			<a href="/06_prices.html" class="siteButton">Подробнее</a>
-->
		</li>
		<li class="item378"><a href="/06_prices.html" class="h261"><img
				src="/template/default/img/pic378-3.jpg" alt=""><span>Топливо для
					транспорта</span> </a>
			<ul>
				<li>&ndash;&nbsp;Установка, зачистка мини-АЗС</li>
				<li>&ndash;&nbsp;Арбитражные пробы при отгрузке</li>
				<li>&ndash;&nbsp;ЕВРО-5 от 28 рублей</li>
				<li>&ndash;&nbsp;Все машины оснащены пистолетами-счетчиками</li>
			</ul>
<!--
			<a href="/06_prices.html" class="siteButton">Подробнее</a>
-->
		</li>
		<li class="item378"><a href="/06_prices.html" class="h261"><img
				src="/template/default/img/pic378-4.jpg" alt=""><span>Топливо для
					деревообработки</span> </a>
			<ul>
				<li>&ndash;&nbsp;GPS-навигация и вездеходы</li>
				<li>&ndash;&nbsp;Топливо под Ваши задачи</li>
				<li>&ndash;&nbsp;Отсрочка платежа до 14 дней</li>
				<li>&ndash;&nbsp;Бензовозы&ndash;&nbsp;вездеходы (ГАЗ 66)</li>
			</ul>
			
<!--
			<a href="/06_prices.html" class="siteButton">Подробнее</a>
-->
		</li>
		<li class="item378"><a href="/06_prices.html" class="h261"><img
				src="/template/default/img/pic378-5.jpg" alt=""><span>Топливо для
					стройплощадок</span> </a>
			<ul>
				<li>&ndash;&nbsp;Нал/безналичный расчет</li>
				<li>&ndash;&nbsp;Всегда в наличии</li>
				<li>&ndash;&nbsp;Круглосуточно, без выходных</li>
			</ul>			
<!--
			<a href="/06_prices.html" class="siteButton">Подробнее</a>
-->
		</li>
		<li class="item378"><a href="/06_prices.html" class="h261"><img
				src="/template/default/img/pic378-6.jpg" alt=""><span>Топливо для
					котельных</span> </a>
			<ul>
				<li>&ndash;&nbsp;Расчет теплоты сгорания ДТ</li>
				<li>&ndash;&nbsp;Цена/КПД &ndash;&nbsp;расчет индивидуально</li>
				<li>&ndash;&nbsp;Обслуживание котлов</li>
			</ul>
			
<!--
			<a href="/06_prices.html" class="siteButton">Подробнее</a>
-->
		</li>
	</ul>
	<div class="clear"></div>
</div>

<?php echo $this->getBlock('infoblock_8');?>

<div class="rowBlock7">
	<p class="blockTitle">Наши сертификаты</p>
	<ul>
		<li><img src="/template/default/img/pic225-1.jpg" alt=""></li>
		<li><img src="/template/default/img/pic225-1.jpg" alt=""></li>
		<li><img src="/template/default/img/pic225-1.jpg" alt=""></li>
		<li><img src="/template/default/img/pic225-1.jpg" alt=""></li>
	</ul>
	<div class="clear"></div>
</div>

<div class="rowBlock8">
	<p class="blockTitle">О компании</p>
	<div>
		<p>Поставляем нефтепродукты (гсм оптом) высшего качества только от
			проверенных и надежных поставщиков.Поставляем нефтепродукты (гсм
			оптом) высшего качества только от проверенных и надежных
			поставщиков.Поставляем нефтепродукты (гсм оптом) высшего качества
			только от проверенных и надежных поставщиков.Поставляем нефтепродукты
			(гсм оптом) высшего качества только от проверенных и надежных
			поставщиков.Поставляем нефтепродукты (гсм оптом) высшего качества
			только от проверенных и надежных поставщиков.Поставляем нефтепродукты
			(гсм оптом) высшего качества только от проверенных и надежных
			поставщиков.</p>
		<i>Генеральный директор А.Емельяненько</i>
	</div>
</div>

<div class="rowBlock9">
	<p class="blockTitle">Наши партнеры</p>
	<ul>
		<li><img src="/template/default/img/h94-1.jpg" alt=""></li>
		<li><img src="/template/default/img/h94-2.jpg" alt=""></li>
		<li><img src="/template/default/img/h94-3.jpg" alt=""></li>
		<li><img src="/template/default/img/h94-4.jpg" alt=""></li>
		<li><img src="/template/default/img/h94-5.jpg" alt=""></li>
	</ul>
	<div class="clear"></div>
</div>

<?php include __DIR__.'/blocks/footer.phtml';?>
