<?php include __DIR__.'/blocks/header.phtml';?>
<div class="contentBlock1">
	<div class="centerBlock">
	<?php echo $this->getContent();?>
		<div class="clear" style="height: 70px"></div>
	</div>
</div>
<?php  include __DIR__.'/blocks/footer.phtml';?>