<?php include __DIR__ . '/blocks/header.phtml'; ?>

<link rel="stylesheet" type="text/css" href="/template/default/css/about.css"/>

<div id="parallax-images">
    
    <div class="image-container content-fill" data-url-id="about" data-content-field="main-image">
      
        
        <img data-src="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/56df4fd72fe1316ffbff0830/1457475588008/About_finalcomp_size_4000x2500+copy.png" data-image="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/56df4fd72fe1316ffbff0830/1457475588008/About_finalcomp_size_4000x2500+copy.png" data-image-dimensions="3997x1925" data-image-focal-point="0.5,0.5" alt="About_finalcomp_size_4000x2500 copy.png"  class="loading" data-load="false" />
        <div class="image-overlay-wrapper"></div>
        
      
    </div>
    
  </div>

  
  <div class="parallax-item" data-url-id="about">
    <div class="title-desc-wrapper over-image has-main-image" data-color-suggested="#b0d1d8" style=" background:url(/template/default/img/About_finalcomp_size_1.png) no-repeat center top; background-size:cover; height:950px">
	
		<!--<img src=" http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/56df4fd72fe1316ffbff0830/1457475588008/About_finalcomp_size_4000x2500+copy.png?format=2500w" height="100%" alt="" style="position:absolute; right:0; border:1px solid #fff; top:0">-->


		<div class="title-desc-image content-fill"
			data-content-field="main-image">
			<img
				data-src="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/56df4fd72fe1316ffbff0830/1457475588008/About_finalcomp_size_4000x2500+copy.png"
				data-image="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/56df4fd72fe1316ffbff0830/1457475588008/About_finalcomp_size_4000x2500+copy.png"
				data-image-dimensions="3997x1925" data-image-focal-point="0.5,0.5"
				alt="About_finalcomp_size_4000x2500 copy.png" data-load="false">
			<div class="image-overlay-wrapper"></div>
		</div>


		<div class="title-desc-inner"
			data-collection-id="56617e57e4b0ff01bbfb60a8"
			data-edit-main-image="Background" style="top: 13% !important">
			<div class="page-title-wrapper">
				<h1 class="page-title" data-content-field="title">О Нашем Центре</h1>
			</div>
			<br>
			<!-- this keeps the inline-blocks from collapsing -->
			<div class="page-desc" data-content-field="description">
				<p>Центр детской психологии «Август» был организован
					специалистами в области психического здоровья в Москве в 2010 году.</p>
			</div>
		</div>
		<div class="scroll-arrow">
			<span>Вниз</span>
		</div>
	</div>
	<div class="content has-main-image" id="yui_3_17_2_1_1474376339488_107">
		<div class="content-inner has-content"
			data-content-field="main-content" id="yui_3_17_2_1_1474376339488_106">
			<div class="title-desc-wrapper">
				<div class="title-desc-inner"
					data-collection-id="56617e57e4b0ff01bbfb60a8">
					<div class="page-title-wrapper">
						<p class="page-title">О Нашем Центре</p>
					</div>
					<br>
					<!-- this keeps the inline-blocks from collapsing -->
					<div class="page-desc" data-content-field="description">
						<p>Центр детской психологии «Август» был
							организован специалистами в области психического здоровья в
							Москве в 2010 году.</p>
					</div>
				</div>
			</div>
			<div class="sqs-layout sqs-grid-12 columns-12" data-type="page"
				data-updated-on="1454096991352" id="page-56617e57e4b0ff01bbfb60a8">
				<div class="row sqs-row" id="yui_3_17_2_1_1474376339488_105">
					<div class="col sqs-col-12 span-12"
						id="yui_3_17_2_1_1474376339488_104">
						<div class="sqs-block html-block sqs-block-html"
							data-block-type="2" id="block-yui_3_17_2_1_1406849047267_83273">
							<div class="sqs-block-content">
								<h2>Руководство Центра</h2>
							</div>
						</div>
						<div
							class="sqs-block horizontalrule-block sqs-block-horizontalrule"
							data-block-type="47" id="block-yui_3_17_2_17_1448914398969_13784">
							<div class="sqs-block-content">
								<hr>
							</div>
						</div>
						<div class="row sqs-row" id="yui_3_17_2_1_1474376339488_103">
							<div class="col sqs-col-1 span-1"
								id="yui_3_17_2_1_1474376339488_102">
								<div class="sqs-block image-block sqs-block-image"
									data-block-type="5"
									id="block-yui_3_17_2_11_1451302678394_21214">
									<div class="sqs-block-content"
										id="yui_3_17_2_1_1474376339488_101">
										<div class="image-block-outer-wrapper layout-caption-hidden "
											id="yui_3_17_2_1_1474376339488_100">

											<div class="intrinsic" style="max-width: 107.0px;"
												id="yui_3_17_2_1_1474376339488_99">

												<div style="padding-bottom: 100.0%;"
													class="image-block-wrapper   has-aspect-ratio"
													data-description="" id="yui_3_17_2_1_1474376339488_98">
													<noscript>&lt;img src="/template/default/img/flower.png"
														tppabs="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/568134b2a128e603baa794c9/1451308211015/flower.png"
														alt="flower.png" /&gt;</noscript>
													<img class="thumb-image loaded" data-src="/template/default/img/flower.png"
														tppabs="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/568134b2a128e603baa794c9/1451308211015/flower.png"
														data-image="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/568134b2a128e603baa794c9/1451308211015/flower.png"
														data-image-dimensions="107x107"
														data-image-focal-point="0.5,0.5" data-load="false"
														data-image-id="568134b2a128e603baa794c9" data-type="image"
														alt="flower.png" src="/template/default/img/flower.png"
														data-image-resolution="100w"
														style="top: 0%; left: 0%; width: 100%; height: 100%; position: absolute;">
												</div>




											</div>

										</div>

									</div>
								</div>
								<div class="sqs-block spacer-block sqs-block-spacer"
									data-aspect-ratio="44.89795918367347" data-block-type="21"
									id="block-yui_3_17_2_6_1451238828509_20483">
									<div class="sqs-block-content sqs-intrinsic"
										id="yui_3_17_2_1_1474376339488_214"
										style="padding-bottom: 44.898%;">&nbsp;</div>
								</div>
							</div>
							<div class="col sqs-col-3 span-3"
								id="yui_3_17_2_1_1474376339488_129">
								<div class="sqs-block image-block sqs-block-image"
									data-block-type="5" id="block-yui_3_17_2_4_1449238030539_8148">
									<div class="sqs-block-content"
										id="yui_3_17_2_1_1474376339488_128">
										<div class="image-block-outer-wrapper layout-caption-hidden "
											id="yui_3_17_2_1_1474376339488_127">

											<div class="intrinsic" style="max-width: 181.0px;"
												id="yui_3_17_2_1_1474376339488_126">

												<a href="/margarita-nesterenko"
													tppabs="http://www.avgustcenter.ru/margarita-nesterenko"
													id="yui_3_17_2_1_1474376339488_125">

													<div style="padding-bottom: 100.0%;"
														class="image-block-wrapper   has-aspect-ratio"
														data-description="<p> .:
														
														</p>
														" id="yui_3_17_2_1_1474376339488_124">
														<noscript>&lt;img src="/template/default/img/index-12.htm.png"
															tppabs="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/5696077a40667a7eb9fa3cf3/1452672891646/"
															alt=".:" /&gt;</noscript>
														<img class="thumb-image loaded"
															data-src="/template/default/img/index-12.htm.png"
															tppabs="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/5696077a40667a7eb9fa3cf3/1452672891646/"
															data-image="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/5696077a40667a7eb9fa3cf3/1452672891646/"
															data-image-dimensions="181x181"
															data-image-focal-point="0.5,0.5" data-load="false"
															data-image-id="5696077a40667a7eb9fa3cf3"
															data-type="image" alt=".:" src="/template/default/img/index-12.htm.png"
															data-image-resolution="300w"
															style="top: 0%; left: 0%; width: 100%; height: 100%; position: absolute;">
													</div>

												</a>




											</div>

										</div>

									</div>
								</div>
								<div class="sqs-block html-block sqs-block-html"
									data-block-type="2" id="block-yui_3_17_2_4_1449238030539_21001">
									<div class="sqs-block-content">
										<p class="h2">Нестеренко Маргарита Александровна</p>
									</div>
								</div>
							</div>
							<div class="col sqs-col-4 span-4"
								id="yui_3_17_2_1_1474376339488_147">
								<div class="sqs-block image-block sqs-block-image"
									data-block-type="5" id="block-yui_3_17_2_4_1449238030539_9219">
									<div class="sqs-block-content"
										id="yui_3_17_2_1_1474376339488_146">
										<div class="image-block-outer-wrapper layout-caption-hidden "
											id="yui_3_17_2_1_1474376339488_145">

											<div class="intrinsic" style="max-width: 181.0px;"
												id="yui_3_17_2_1_1474376339488_144">

												<a href="/guseva-galina"
													tppabs="http://www.avgustcenter.ru/guseva-galina"
													id="yui_3_17_2_1_1474376339488_143">

													<div style="padding-bottom: 100.0%;"
														class="image-block-wrapper   has-aspect-ratio"
														data-description="<p> Galina_G.:
														
														</p>
														" id="yui_3_17_2_1_1474376339488_142">
														<noscript>&lt;img src="/template/default/img/index-13.htm.png"
															tppabs="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/567d1ecccbced6d3c038bf31/1451040461489/"
															alt="Galina_G.:" /&gt;</noscript>
														<img class="thumb-image loaded"
															data-src="/template/default/img/index-13.htm.png"
															tppabs="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/567d1ecccbced6d3c038bf31/1451040461489/"
															data-image="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/567d1ecccbced6d3c038bf31/1451040461489/"
															data-image-dimensions="181x181"
															data-image-focal-point="0.5,0.5" data-load="false"
															data-image-id="567d1ecccbced6d3c038bf31"
															data-type="image" alt="Galina_G.:" src="/template/default/img/index-13.htm.png"
															data-image-resolution="300w"
															style="top: 0%; left: 0%; width: 100%; height: 100%; position: absolute;">
													</div>

												</a>




											</div>

										</div>

									</div>
								</div>
								<div class="sqs-block html-block sqs-block-html"
									data-block-type="2" id="block-yui_3_17_2_4_1449238030539_24187">
									<div class="sqs-block-content">
										<p class="h2">Гусева Галина Павловна</p>
										
									</div>
								</div>
							</div>
							<div class="col sqs-col-3 span-3"
								id="yui_3_17_2_1_1474376339488_165">
								<div class="sqs-block image-block sqs-block-image"
									data-block-type="5" id="block-yui_3_17_2_4_1449238030539_31547">
									<div class="sqs-block-content"
										id="yui_3_17_2_1_1474376339488_164">
										<div class="image-block-outer-wrapper layout-caption-hidden "
											id="yui_3_17_2_1_1474376339488_163">

											<div class="intrinsic" style="max-width: 181.0px;"
												id="yui_3_17_2_1_1474376339488_162">

												<a href="/tolpina-inna"
													tppabs="http://www.avgustcenter.ru/tolpina-inna"
													id="yui_3_17_2_1_1474376339488_161">

													<div style="padding-bottom: 100.0%;"
														class="image-block-wrapper   has-aspect-ratio"
														data-description="<p> .:
														
														</p>
														" id="yui_3_17_2_1_1474376339488_160">
														<noscript>&lt;img src="Tolpina_Inna+copy.png"
															tppabs="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/569900c8df40f3de942b1e82/1452867784808/Tolpina_Inna+copy.png"
															alt=".:" /&gt;</noscript>
														<img class="thumb-image loaded" src="/template/default/img/tolpina.png" style="top: 0%; left: 0%; width: 100%; height: 100%; position: absolute;">
													</div>

												</a>




											</div>

										</div>

									</div>
								</div>
								<div class="sqs-block html-block sqs-block-html"
									data-block-type="2" id="block-yui_3_17_2_4_1449238030539_27312">
									<div class="sqs-block-content">
										<p class="h2">Толпина Инна Абрамовна</p>
									</div>
								</div>
							</div>
							<div class="col sqs-col-1 span-1"
								id="yui_3_17_2_1_1474376339488_182">
								<div class="sqs-block spacer-block sqs-block-spacer"
									data-aspect-ratio="342.85714285714283" data-block-type="21"
									id="block-yui_3_17_2_6_1451238828509_24205">
									<div class="sqs-block-content sqs-intrinsic"
										id="yui_3_17_2_1_1474376339488_217"
										style="padding-bottom: 342.857%;">&nbsp;</div>
								</div>
								<div class="sqs-block image-block sqs-block-image"
									data-block-type="5"
									id="block-yui_3_17_2_11_1451302678394_26592">
									<div class="sqs-block-content"
										id="yui_3_17_2_1_1474376339488_181">
										<div class="image-block-outer-wrapper layout-caption-hidden "
											id="yui_3_17_2_1_1474376339488_180">

											<div class="intrinsic" style="max-width: 133.0px;"
												id="yui_3_17_2_1_1474376339488_179">

												<div style="padding-bottom: 100.0%;"
													class="image-block-wrapper   has-aspect-ratio"
													data-description="" id="yui_3_17_2_1_1474376339488_178">
													<noscript>&lt;img src="/template/default/img/index-14.htm.png"
														tppabs="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/568134e957eb8dca48006794/1451308265989/"
														/&gt;</noscript>
													<img class="thumb-image loaded" data-src="/template/default/img/index-14.htm.png"
														tppabs="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/568134e957eb8dca48006794/1451308265989/"
														data-image="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/568134e957eb8dca48006794/1451308265989/"
														data-image-dimensions="133x133"
														data-image-focal-point="0.5,0.5" data-load="false"
														data-image-id="568134e957eb8dca48006794" data-type="image"
														src="/template/default/img/index-14.htm.png" data-image-resolution="100w"
														style="top: 0%; left: 0%; width: 100%; height: 100%; position: absolute;">
												</div>




											</div>

										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="sqs-block spacer-block sqs-block-spacer"
							data-aspect-ratio="3.4375" data-block-type="21"
							id="block-yui_3_17_2_17_1449238030539_11208">
							<div class="sqs-block-content sqs-intrinsic"
								id="yui_3_17_2_1_1474376339488_220"
								style="padding-bottom: 3.4375%;">&nbsp;</div>
						</div>
						<div class="sqs-block html-block sqs-block-html"
							data-block-type="2" id="block-yui_3_17_2_17_1449238030539_11977">
							<div class="sqs-block-content">
								<h2>Наша задача</h2>
								<p>Раскрытие психологического потенциала детей и их родителей
									для решения важных жизненных задач.</p>
							</div>
						</div>
						<div
							class="sqs-block horizontalrule-block sqs-block-horizontalrule"
							data-block-type="47" id="block-yui_3_17_2_17_1449238030539_21735">
							<div class="sqs-block-content">
								<hr>
							</div>
						</div>
						<div class="sqs-block html-block sqs-block-html"
							data-block-type="2" id="block-yui_3_17_2_17_1449238030539_22527">
							<div class="sqs-block-content">
								<h2>Наши возможности</h2>
								<p>
									В нашем Центре работает команда профильных <a
										href="/specialisty-centra"
										tppabs="specialisty-centra">специалистов</a>&nbsp;с
									многолетним опытом работы.&nbsp;Каждый из них постоянно
									повышает свою квалификацию и проходит обучение в России и за
									рубежом.
								</p>
								<p>Наша работа основывается на опыте, накопленном в
									международной и российской практиках, а также на современных
									исследованиях в области психического здоровья. Благодаря этому
									мы наилучшим образом выявляем истоки психологических проблем и
									предлагаем эффективные способы их решения.</p>
							</div>
						</div>
						<div
							class="sqs-block horizontalrule-block sqs-block-horizontalrule"
							data-block-type="47" id="block-yui_3_17_2_17_1449238030539_33019">
							<div class="sqs-block-content">
								<hr>
							</div>
						</div>
						<div class="sqs-block html-block sqs-block-html"
							data-block-type="2" id="block-yui_3_17_2_17_1449238030539_33828">
							<div class="sqs-block-content">
								<h2>Главное правило нашей работы</h2>
								<p>
									Мы считаем, что сотрудничество со всем окружением
										ребенка – это залог успеха. Дети, подростки и их
									родители находятся в основе всего, что мы делаем.
								</p>
							</div>
						</div>
						<div
							class="sqs-block horizontalrule-block sqs-block-horizontalrule"
							data-block-type="47" id="block-yui_3_17_2_17_1449238030539_42899">
							<div class="sqs-block-content">
								<hr>
							</div>
						</div>
						<div class="sqs-block html-block sqs-block-html"
							data-block-type="2" id="block-yui_3_17_2_17_1449238030539_43815">
							<div class="sqs-block-content">
								<h2>Зачем нужна наша работа</h2>
								<p>
									Исследования, проведенные в разных странах, показывают, что психологические
										нарушения выявляются у 15-20% детей.&nbsp;К
									сожалению, психическое здоровье человека остается самой
									недооцененной областью здоровья в России. Более того,
									она&nbsp;меньше всего финансируется на государственном уровне.
								</p>
								<p>Как показывают исследования, психологические проблемы
									являются одной из главных причин большого количества физических
									заболеваний.&nbsp;Начиная от общего снижения иммунитета и
									заканчивая&nbsp;такими&nbsp;болезнями,&nbsp;как&nbsp;сердечно-сосудистые
									расстройства, эндокринные нарушения, кожные заболевания и др.
									Согласно проведенным опросам, психологические проблемы
									оказывают не меньшее, а зачастую и гораздо большее влияние на
									состояние человека и его ощущение удовлетворенности жизнью, чем
									проблемы физического здоровья. При этом, также как и для
									выявления и лечения болезней, для диагностики и помощи в
									решении психологических проблем требуется участие
									квалифицированного специалиста, получившего соответствующее
									профессиональное образование и имеющего большой практический
									опыт работы с пациентами.</p>
								<p>Многие психологические проблемы, оказывающие негативное
									влияние на жизнь взрослого человека, могут быть диагностированы
									в детском возрасте. Большинство из таких проблем поддаются
									успешной терапии. Внимание родителей, оценка ситуации
									специалистами и оказание необходимой психологической помощи
									будут способствовать гармоничному развитию вашего ребенка и
									помогут избежать трудностей, которые могут возникнуть у
									человека во взрослой жизни.</p>
							</div>
						</div>
						<div
							class="sqs-block horizontalrule-block sqs-block-horizontalrule"
							data-block-type="47"
							id="block-yui_3_17_2_17_1449238030539_107151">
							<div class="sqs-block-content">
								<hr>
							</div>
						</div>
						<div class="sqs-block html-block sqs-block-html"
							data-block-type="2" id="block-yui_3_17_2_31_1451036036467_140405">
							<div class="sqs-block-content">
								<h2>Как мы работаем</h2>
								<p>
									Центр оказывает помощь <a href="/uslugi-pomoshchi-detyam"
										><em>детям</em></a>,
									<a href="/uslugi-pomoshchi-roditelyam"
										><em>родителям</em></a>
									и <a href="/uslugi-pomoshchi-seme"
										><em>семьям</em></a>,
									а также предлагает <a href="/uslugi-pomoshchi-specialistam"
										><em>профессиональную
												поддержку</em></a> специалистам в области
									психического здоровья.
								</p>
								<p>После обращения в Центр, Вы и Ваш ребенок будете записаны на
									первичную консультацию, по итогам которой мы обсудим с Вами
									план дальнейшего взаимодействия.</p>
								<p>
									В работе с детьми мы используем различные методы (разнообразные
									тесты, наблюдение за поведением ребенка, специально
									организованные беседы, игры&nbsp;и т.д.), более подробно
									описанные в разделе <a href="/uslugi-pomoshchi-detyam"
										><em>Помощь
												детям</em></a>. Основным методом работы с
									родителями являются индивидуальные консультации.
								</p>
								<p>Любое взаимодействие с Центром основано на строгом соблюдении
									нашими специалистами принципов профессиональной этики, включая
									конфиденциальность факта обращения.</p>
								<p>Используя методы психологии, нейробиологии, социологии и
									педагогики мы находим новые способы организации условий, в
									которых дети, подростки и семьи находят свой собственный путь
									решения проблемы.</p>
							</div>
						</div>
						<div
							class="sqs-block horizontalrule-block sqs-block-horizontalrule"
							data-block-type="47"
							id="block-yui_3_17_2_31_1451036036467_141596">
							<div class="sqs-block-content">
								<hr>
							</div>
						</div>
						<div class="row sqs-row" id="yui_3_17_2_1_1474376339488_200">
							<div class="col sqs-col-1 span-1"
								id="yui_3_17_2_1_1474376339488_199">
								<div class="sqs-block image-block sqs-block-image"
									data-aspect-ratio="140.15151515151516" data-block-type="5"
									id="block-yui_3_17_2_17_1449238030539_51499">
									<div class="sqs-block-content"
										id="yui_3_17_2_1_1474376339488_198">
										<div class="image-block-outer-wrapper layout-caption-hidden "
											id="yui_3_17_2_1_1474376339488_197">

											<div class="intrinsic" style="max-width: 136.0px;"
												id="yui_3_17_2_1_1474376339488_196">

												<div style="padding-bottom: 140.15151977539062%;"
													class="image-block-wrapper   has-aspect-ratio"
													data-description="" id="yui_3_17_2_1_1474376339488_195">
													<noscript>&lt;img src="Final_Logo_Color-04.png"
														tppabs="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/5661a5dae4b0ff01bbfc5f9c/1449240028287/Final_Logo_Color-04.png"
														alt="Final_Logo_Color-04.png" /&gt;</noscript>
													<img class="thumb-image loaded"
														data-src="Final_Logo_Color-04.png"
														tppabs="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/5661a5dae4b0ff01bbfc5f9c/1449240028287/Final_Logo_Color-04.png"
														data-image="http://static1.squarespace.com/static/565ca631e4b0060cdb7b6392/t/5661a5dae4b0ff01bbfc5f9c/1449240028287/Final_Logo_Color-04.png"
														data-image-dimensions="136x203"
														data-image-focal-point="0.5,0.5" data-load="false"
														data-image-id="5661a5dae4b0ff01bbfc5f9c" data-type="image"
														alt="Final_Logo_Color-04.png"
														src="/template/default/img/Final_Logo_Color-04.png" data-image-resolution="100w"
														style="top: -3.7792%; left: 0%; width: 100%; height: 107.558%; position: absolute;">
												</div>




											</div>

										</div>

									</div>
								</div>
							</div>
							<div class="col sqs-col-11 span-11">
								<div
									class="sqs-block spacer-block sqs-block-spacer sized vsize-1"
									data-block-type="21"
									id="block-yui_3_17_2_17_1449238030539_128435">
									<div class="sqs-block-content">&nbsp;</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<?php include __DIR__ . '/blocks/footer.phtml'; ?>
  