<?php include __DIR__ . '/blocks/header.phtml'; ?>
<style>
#content-wrapper .content {
	background-color: #f9f2e1 !important;
	overflow: hidden;
}

#content-wrapper .content .content-inner {
	background-color: #f9f2e1 !important;
}
</style>
<div id="header-wrapper">
	<div class="title-desc-wrapper has-main-image no-description"></div>
</div>

<section id="content-wrapper">
<?php echo $this->getHelper('breadcrumbs')->getView(); ?> 
	<div class="sqs-cart-dropzone"></div>
	<div class="content">
		<div class="content-inner" data-content-field="main-content">
			<div class="sqs-layout sqs-grid-12 columns-12" data-type="page"
				data-updated-on="1459335951237"
				
				<div class="row sqs-row">
					<div class="col sqs-col-12 span-12">
						<div data-block-type="2"
							class="sqs-block html-block sqs-block-html">
							<div class="sqs-block-content">
								<h1 class="text-align-center">События</h1>
							</div>
						</div>
						
						<?php echo $this->getContent();?>


					</div>
				</div>
			</div>
		</div>


	</div>
</section>

</div>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<?php include __DIR__ . '/blocks/footer.phtml'; ?>
