<?php include __DIR__ . '/blocks/header.phtml'; ?>

<div id="header-wrapper">
    <div class="title-desc-wrapper has-main-image no-description">

    </div>
</div>

<section id="content-wrapper">
    <div class="sqs-cart-dropzone"></div>
    <div class="content">
    
    <?php echo $this->getHelper('breadcrumbs')->getView(); ?>
        
        <div class="content-inner" data-content-field="main-content">
            <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1459335951237"
                 id="page-56617ee5e4b0690830fbf65e">
                <div class="row sqs-row">
                    <div class="col sqs-col-12 span-12">

                        <?php echo $this->getContent();?>


                    </div>
                </div>
            </div>
        </div>


    </div>
</section>


<?php include __DIR__ . '/blocks/footer.phtml'; ?>
