<?php include __DIR__ . '/blocks/header.phtml'; ?>

<!--<link rel="stylesheet" type="text/css" href="/template/default/css/about.css"/>-->
<link rel="stylesheet" type="text/css" href="/template/default/css/mainpage.css"/>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/template/default/js/jquery.scrollTo-min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.parallax-item .scroll-arrow span').click(function() {
		$('body').scrollTo('h2:first',1000);
	});
});
</script>

<section id="content-wrapper" data-content-field="main-content">
    <div class="sqs-cart-dropzone"></div>
    <nav id="parallax-nav">
        <ul>

            <li id="parallax-nav-item-home-page"><a href="#home-page"><span class="nav-title">Центр Детской Психологии и Психоанализа</span></a>
            </li>

            <li id="parallax-nav-item-hidden"><a href="#hidden"><span class="nav-title">-</span></a></li>

        </ul>
    </nav>


    <div id="parallax-images">

        <div class="image-container content-fill" data-url-id="home-page" data-content-field="main-image">


            <img data-src="/template/default/img/House_finalcomp_size_4000x2500.png"
                 tppabs="/template/default/img//House_finalcomp_size_4000x2500.png"
                 data-image="/template/default/img/House_finalcomp_size_4000x2500.png" data-image-dimensions="4000x1925"
                 data-image-focal-point="0.5,0.5" alt="House_finalcomp_size_4000x2500.png" class="loading"
                 data-load="false">
            <div class="image-overlay-wrapper"></div>


        </div>

        <div class="image-container content-fill" data-url-id="hidden" data-content-field="main-image">


        </div>

    </div>


    <div class="parallax-item" data-url-id="home-page">
         <div class="title-desc-wrapper over-image has-main-image" data-color-suggested="#afd6d7" style="background:url(/template/default/img/House_finalcomp_size_1.png) no-repeat center top; background-size:cover; height:950px">
			<!--<img src="/template/default/img/House_finalcomp_size_1.png" height="100%" alt="" style="position:absolute; right:0; border:1px solid #fff; top:0">-->


            <div class="title-desc-image content-fill" data-content-field="main-image">
                <img data-src="/template/default/img/House_finalcomp_size_4000x2500.png"
                     tppabs="/template/default/img/House_finalcomp_size_4000x2500.png"
                     data-image="/template/default/img/House_finalcomp_size_4000x2500.png"
                     data-image-dimensions="4000x1925" data-image-focal-point="0.5,0.5"
                     alt="House_finalcomp_size_4000x2500.png" data-load="false">
                <div class="image-overlay-wrapper"></div>
            </div>


            <div class="title-desc-inner" data-collection-id="565cae5de4b08c62b9eeaafb"
                 data-edit-main-image="Background" style="top:13% !important">
               <?php echo $this->getBlock('infoblock_12'); ?>
            </div>
            <div class="scroll-arrow"><span>SCROLL DOWN</span></div>
        </div>
        <div class="content has-main-image">
            <div class="content-inner has-content" data-content-field="main-content">
                <div class="title-desc-wrapper">
                    <div class="title-desc-inner" data-collection-id="565cae5de4b08c62b9eeaafb">
                       <?php echo $this->getBlock('infoblock_13'); ?>
                    </div>
                </div>
                <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1456661470349"
                     id="page-565cae5de4b08c62b9eeaafb">
                    <div class="row sqs-row">
                        <div class="col sqs-col-12 span-12">
                            <div class="sqs-block html-block sqs-block-html" data-block-type="2"
                                 id="block-yui_3_17_2_1_1406849047267_83273">
                                <div class="sqs-block-content"><h2>О психологическом центре</h2></div>
                            </div>
                            <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47"
                                 id="block-yui_3_17_2_2_1449232971419_177107">
                                <div class="sqs-block-content">
                                    <hr>
                                </div>
                            </div>
                            <div class="sqs-block html-block sqs-block-html" data-block-type="2"
                                 id="block-yui_3_17_2_2_1449232971419_177194">
                                <div class="sqs-block-content"><?php echo $this->getBlock('infoblock_14'); ?>
                                    <p>&nbsp;</p>
                                    <h2>Услуги детского развивающего центра Август</h2></div>
                            </div>
                            <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47"
                                 id="block-yui_3_17_2_2_1449232971419_179832">
                                <div class="sqs-block-content">
                                    <hr>
                                </div>
                            </div>
                            <div class="sqs-block html-block sqs-block-html" data-block-type="2"
                                 id="block-yui_3_17_2_2_1449232971419_129313">
                                <div class="sqs-block-content"><?php echo $this->getBlock('infoblock_15'); ?>
                                    <p>&nbsp;</p></div>
                            </div>
                           <?php echo $this->getBlock('infoblock_16'); ?>
                            <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47"
                                 id="block-yui_3_17_2_2_1449232971419_259409">
                                <div class="sqs-block-content">
                                    <hr>
                                </div>
                            </div>
                            <div class="sqs-block button-block sqs-block-button" data-block-type="53"
                                 id="block-yui_3_17_2_2_1449232971419_260336">
                                <div class="sqs-block-content">
                                    <div class="sqs-block-button-container--center">
                                        <a href="<?php echo $this->getUrl(array('pages'=>38, 'module'=>'pages')) ?>" tppabs="http://www.avgustcenter.ru/contact"
                                           class="sqs-block-button-element--medium sqs-block-button-element">Записаться
                                            на прием</a>
                                    </div>
                                </div>
                            </div>
             

                                    <?php echo   $this->getModule('Slider')->getView();?>   


                                  
                            <div class="sqs-block html-block sqs-block-html" data-block-type="2"
                                 id="block-yui_3_17_2_8_1453307040081_42848">
                                <div class="sqs-block-content"><p class="text-align-right"><a href="/blog">Перейти
                                            в блог</a></p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-item" data-url-id="hidden">
        <div class="title-desc-wrapper over-image no-main-image">


            <div class="title-desc-inner" data-collection-id="56670fe61c12104ed9dd4d89"
                 data-edit-main-image="Background">
                <div class="page-title-wrapper"><h2 class="page-title" data-content-field="title">-</h2></div>
                <br> <!-- this keeps the inline-blocks from collapsing -->
                <div class="page-desc" data-content-field="description"></div>
            </div>
            <div class="scroll-arrow"><span>SCROLL DOWN</span></div>
        </div>
        <div class="content">
            <div class="content-inner" data-content-field="main-content">
                <div class="title-desc-wrapper">
                    <div class="title-desc-inner" data-collection-id="56670fe61c12104ed9dd4d89">
                        <div class="page-title-wrapper"><h2 class="page-title">-</h2></div>
                        <br> <!-- this keeps the inline-blocks from collapsing -->
                        <div class="page-desc" data-content-field="description"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="back-to-top"></div>
</section>

<?php include __DIR__ . '/blocks/footer.phtml'; ?>
