<?php include __DIR__ . '/blocks/header.phtml'; ?>


<div id="header-wrapper">
	<div class="title-desc-wrapper has-main-image no-description"></div>
</div>

<section id="content-wrapper">
<?php echo $this->getHelper('breadcrumbs')->getView(); ?>
	<div class="sqs-cart-dropzone"></div>
	<div class="content">
		<div class="content-inner" data-content-field="main-content">
			<div class="sqs-layout sqs-grid-12 columns-12" data-type="page"
				data-updated-on="1459335951237" id="page-56617ee5e4b0690830fbf65e">
				<div class="row sqs-row">
					<div class="col sqs-col-12 span-12">
						<div id="block-yui_3_17_2_23_1449589102199_6248"
							data-block-type="2" class="sqs-block html-block sqs-block-html">
							<div class="sqs-block-content">
								<h1 class="text-align-center">Блог</h1>
							</div>
						</div>
						<div id="block-yui_3_17_2_23_1449589102199_5910"
							data-block-type="47"
							class="sqs-block horizontalrule-block sqs-block-horizontalrule">
							<div class="sqs-block-content">
								<hr>
							</div>
						</div>
						<?php echo $this->getContent();?>


					</div>
				</div>
			</div>
		</div>


	</div>
</section>


<?php include __DIR__ . '/blocks/footer.phtml'; ?>
