<?php
if (($row = $this->getItem()) != false) {
	$image = $row->getSecondaryImage();
	

	?>
<div class="sqs-block html-block sqs-block-html" data-block-type="2"
	id="block-yui_3_17_2_23_1449589102199_6248">
	<div class="sqs-block-content">
		<h1>
			<?php echo $row->Title; ?>
		</h1>
		<p dir="ltr">
			<em><strong><?php echo $row->uf_8; ?> </strong> </em>
		</p>
	</div>
</div>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule"
	data-block-type="47" id="block-yui_3_17_2_23_1449589102199_5910">
	<div class="sqs-block-content">
		<hr />
	</div>
</div>
<div
	class="sqs-block image-block sqs-block-image sqs-col-5 span-5 float float-left"
	data-block-type="5" id="block-yui_3_17_2_2_1452626754007_31574">
	<div class="sqs-block-content">
		<div class="image-block-outer-wrapper layout-caption-hidden ">

			<div class="intrinsic" style="max-width: 3137.0px;">


				<?php if($image):?>
				<div style="padding-bottom: 150.0159454345703%;"
					class="image-block-wrapper   has-aspect-ratio" data-description="">
					<noscript>
						<img src="<?php echo $image->getUrl(); ?>"
							alt="<?php echo $row->Title; ?>"
							title="<?php echo $row->Title; ?>" />
					</noscript>
					<img alt="<?php echo $row->Title; ?>"
						title="<?php echo $row->Title; ?>" class="thumb-image"
						data-src="<?php echo $image->getUrl(); ?>"
						data-image="<?php echo $image->getUrl(); ?>"
						data-image-dimensions="3137x4706" data-image-focal-point="0.5,0.5"
						data-load="false" data-image-id="5696061f2399a3e236b00bbb"
						data-type="image" />
				</div>
				<?php endif;?>





			</div>

		</div>
	</div>
</div>
<div class="sqs-block html-block sqs-block-html" data-block-type="2"
	id="block-56617ebce4b0ff01bbfb62b7">
	<div class="sqs-block-content">
		<?php echo $row->Description; ?>
	</div>
</div>
<?php
} else {
	$this->setError();
	echo "<p>Страница не найдена</p>";
}