<?php
if ($this->getCurrentCategory()) {
    
    $cat = $this->getCategoryById($this->getCurrentCategory());
    if (is_object($cat)) {
        if (! empty($cat->H1)) {
            $title = '' . $cat->H1 . '</p>';
        } else {
            $title = '' . $cat->Title . '';
        }
        if (! empty($cat->TitlePage)) {
            BreadcrumbsTitle::set($cat->TitlePage);
        } else {
            BreadcrumbsTitle::set($cat->Title);
        }
        if (! empty($cat->DescPage)) {
            Metas::setDescription($cat->DescPage);
        }
        if (! empty($cat->KeysPage)) {
            Metas::setKeywords($cat->KeysPage);
        }
    }
} else {
    $title = 'Специалисты';
}
?>
<div class="sqs-block html-block sqs-block-html" data-block-type="2"
	id="block-yui_3_17_2_19_1449589102199_6265">
	<div class="sqs-block-content">
		<h1 class="text-align-center"><?php echo $title; ?></h1>
	</div>
</div>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule"
	data-block-type="47" id="block-yui_3_17_2_19_1449589102199_5927">
	<div class="sqs-block-content">
		<hr>
	</div>
</div>
<?php
$sth = $this->prepare("select * from `Catalog_Categories` WHERE `parentId`=? ORDER BY `Sort`");
if ($sth->execute(array($this->getCurrentCategory())) && ($total = $sth->rowCount()) > 0) {
    $i = 0;
    $v = 0;
    ?>


<?php foreach ($sth->fetchAll() as $row): ?>
<?php $i++; $v++; ?>
<?php if ($i == 1): ?>
<div class="row sqs-row" id="yui_3_17_2_1_1474371919164_187">
<?php endif; ?>
	<div class="col sqs-col-3 span-3" id="yui_3_17_2_1_1474371919164_186">
		<div class="sqs-block image-block sqs-block-image" data-block-type="5"
			id="block-yui_3_17_2_21_1451302678394_15549">
			<div class="sqs-block-content" id="yui_3_17_2_1_1474371919164_185">
				<div class="image-block-outer-wrapper layout-caption-hidden "
					id="yui_3_17_2_1_1474371919164_184">

					<div class="intrinsic" style="max-width: 180.0px;"
						id="yui_3_17_2_1_1474371919164_183">

						<a href="<?php echo $this->getUrl(array('module'=>"catalog", 'catid'=>$row->Id)); ?>"
							
							id="yui_3_17_2_1_1474371919164_182">

							<div style="padding-bottom: 100.0%;"
								class="image-block-wrapper   has-aspect-ratio"
								data-description="<p> .:
								
								</p>
								" id="yui_3_17_2_1_1474371919164_181">
								<noscript>&lt;img src="/files/catalog/<?php echo $row->Icon; ?>"
									tppabs="/files/catalog/<?php echo $row->Icon; ?>"	
									alt=".:" /&gt;</noscript>
								<img class="thumb-image loaded" data-src="/files/catalog/<?php echo $row->Icon; ?>"
									tppabs="/files/catalog/<?php echo $row->Icon; ?>"
									data-image="/files/catalog/<?php echo $row->Icon; ?>"
									data-image-dimensions="180x180"
									data-image-focal-point="0.5,0.5" data-load="false"
									data-image-id="<?php echo $row->Id; ?>" data-type="image"
									alt=".:" src="/files/catalog/<?php echo $row->Icon; ?>" data-image-resolution="300w"
									>
							</div>

						</a>




					</div>

				</div>

			</div>
		</div>
		<div class="sqs-block html-block sqs-block-html" data-block-type="2"
			id="block-yui_3_17_2_21_1451302678394_22577">
			<div class="sqs-block-content">
				<p class="text-align-center" style="font-size:15px">
					<a href="<?php echo $this->getUrl(array('module'=>"catalog", 'catid'=>$row->Id)); ?>"
						><?php echo $row->Title; ?></a>
				</p>
			</div>
		</div>
	</div>
	<?php if ($i==4 || $v == $total): ?>
	<?php $i = 0;  ?>
		</div>
		<div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_21_1451302678394_24491"><div class="sqs-block-content">&nbsp;</div></div>
		<?php endif; ?>
	<?php endforeach; ?>
	



<?php 
   }
   
   ?>
