<?php
if ($this->getCurrentCategory()) {
    
    $cat = $this->getCategoryById($this->getCurrentCategory());
    if (is_object($cat)) {
        if (! empty($cat->H1)) {
            $title = $cat->H1;
        } else {
            $title = $cat->Title;
        }
        
        if (! empty($cat->TitlePage)) {
            BreadcrumbsTitle::set($cat->TitlePage);
        } else {
            BreadcrumbsTitle::set($cat->Title);
        }
        if (! empty($cat->DescPage)) {
            Metas::setDescription($cat->DescPage);
        }
        if (! empty($cat->KeysPage)) {
            Metas::setKeywords($cat->KeysPage);
        }
    }
} else {
    $title = 'Специалисты';
}
$out = '';
$showCats = false;

if ($this->getCurrentCategory() != 0) {
    $showCats = true;
    $parentId = 0;
    
    if ($this->getCurrentCategory() != 0) {
        $parentId = $this->getCurrentCategory();
    }
    
    $sth = $this->prepare("select * from `Catalog_Categories` where `Id`=?");
    $sth->execute(array(
        $this->getCurrentCategory()
    ));
    if ($sth->rowCount() > 0) {
        $cat = $sth->fetch();
        
        ?>
<style type="text/css">
			.psyList li {display:inline-block; vertical-align:top; width:181px; margin:0 30px 30px 0; list-style:none; text-align:center; font:bold 15px Verdana; line-height:22px;}
			</style>
<div class="content-inner" data-content-field="main-content">
	<div class="sqs-layout sqs-grid-12 columns-12" data-type="page"
		data-updated-on="1456655618556" id="page-56617dfee4b0d38e0d884b9a">
		<div class="row sqs-row">
			<div class="col sqs-col-12 span-12">
				<div class="sqs-block html-block sqs-block-html" data-block-type="2"
					id="block-yui_3_17_2_12_1449589102199_6199">
					<div class="sqs-block-content">
						<h1 class="text-align-center"><?php echo $title; ?></h1>
					</div>
				</div>
				<div class="sqs-block horizontalrule-block sqs-block-horizontalrule"
					data-block-type="47" id="block-yui_3_17_2_12_1449589102199_5860">
					<div class="sqs-block-content">
						<hr>
					</div>
				</div>
				<div class="sqs-block html-block sqs-block-html" data-block-type="2"
					id="block-56617ebce4b0ff01bbfb62b7">
					<div class="sqs-block-content"><?php echo $cat->Description_Bottom; ?></div>
				</div>
			</div>
		</div>
	</div>
</div>
<?php
        $rows = $this->getAllItems();
        if (count($rows) > 0) :
            ?>
<div class="content-inner" style="padding-top: 40px">
	<div class="psyList">
		<ul>
		<?php foreach ($rows as $row): ?>
		<?php $image = $row->getImage(); ?>
		<li><a href="<?php echo $row->getUrl(); ?>"><img src="<?php echo $image ? $image->getUrl(181,181) : ''; ?>" alt="<?php echo $row->Title; ?>" title="<?php echo $row->Title; ?>"></a><span><?php echo $row->Title; ?></span></li>
		<?php endforeach; ?>
		</ul>
	</div>
</div>
<?php endif; ?>
<?php
    }
}

?>
