<?php
$item = $this->getArticlesItem();
if ($item) {
	$mainImage = false;
	$imgs = '';
	$img = '';
	$title = $item->name;
	$h1 = trim($item->H1);
	if(!empty($h1)){
		$title = $h1;
	}
	$images = $this->getItemImages($item->id);
	if ($images) {
		foreach ($images as $image) {
			$imgs .= '<img style="float:left; padding: 0 7px 7px 0" class="img-l" alt="'.$title.'" title="'.$title.'" src="/' . $image->path . '/' . $image->file . '">';
		}
	}

	?>
<div class="sqs-block html-block sqs-block-html" data-block-type="2"
	id="block-yui_3_17_2_23_1449589102199_6248">
	<div class="sqs-block-content">
		<h1>
			<?php echo $title; ?>
		</h1>
	</div>
</div>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule"
	data-block-type="47" id="block-yui_3_17_2_23_1449589102199_5910">
	<div class="sqs-block-content">
		<hr>
	</div>
</div>
<div class="row sqs-row" id="yui_3_17_2_1_1474375456743_102">
	<div class="col sqs-col-10 span-10" id="yui_3_17_2_1_1474375456743_101">
		<div class="sqs-block html-block sqs-block-html" data-block-type="2"
			id="block-56617ebce4b0ff01bbfb62b7">
			<div class="sqs-block-content">
				<?php echo $imgs; ?>
				<?php echo $item->desc; ?>
				<p class="text-align-right">
					<a href="<?php echo $this->getUrl(array('module'=>'articles'));?>">Вернуться
						в События</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col sqs-col-2 span-2">
		<div class="sqs-block html-block sqs-block-html" data-block-type="2"
			id="block-yui_3_17_2_50_1454270123572_21955">
			<div class="sqs-block-content">
				<p>
					<span style="font-size: 12px">Posted on</span><span
						style="font-size: 12px">&nbsp;</span><a
						href="javascript:if(confirm(%27http://tolkoksana.com/2015/12/16/%d1%8d%d1%82%d0%be%d1%82-%d0%bd%d0%b5%d0%bb%d0%be%d0%b2%d0%ba%d0%b8%d0%b9-%d0%bc%d0%be%d0%bc%d0%b5%d0%bd%d1%82-%d0%b8%d0%bb%d0%b8-%d0%be-%d0%bf%d0%be%d0%bb%d1%8c%d0%b7%d0%b5-%d0%b7%d0%b0/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://tolkoksana.com/2015/12/16/%d1%8d%d1%82%d0%be%d1%82-%d0%bd%d0%b5%d0%bb%d0%be%d0%b2%d0%ba%d0%b8%d0%b9-%d0%bc%d0%be%d0%bc%d0%b5%d0%bd%d1%82-%d0%b8%d0%bb%d0%b8-%d0%be-%d0%bf%d0%be%d0%bb%d1%8c%d0%b7%d0%b5-%d0%b7%d0%b0/%27"><?php echo $this->formatDate('d.m.Y',$item->date);?>
					</a>
				</p>
			</div>
		</div>
	</div>
</div>
<?php 

} else {
	$this->setError ();
	echo '<p>Страница не найдена</p>';
}
?>

