<?php
$this->setFileTemplate('articles');
$this->setLimit ( 'all' );
$items = $this->getArticles ();
$pag = '';
if ($items) {

	foreach ( $items as $row ) {
		$url = $this->getUrl ( array (
				'module' => 'articles',
				'articles' => $row->id
		) );
		$img = '';
		$image = $this->getItemImage ( $row->id );
		$imageCode = '';
		if ($image) {
			$img =  $image->path . '/' . $image->file ;
			
			$imageCode = '<div data-block-type="5"
		class="sqs-block image-block sqs-block-image sqs-col-5 span-5 float float-left" style="width: 31%;">
		<div class="sqs-block-content" id="yui_3_17_2_1_1474373490729_100">
		<div class="image-block-outer-wrapper layout-caption-hidden ">

		<div style="max-width: 398.0px;" class="intrinsic">

		<div data-description="" class="image-block-wrapper   "
		style="padding-bottom: 135.42713928222656%; width:200px;" >
		<img alt="'.$row->name.'" title="'.$row->name.'" class="thumb-image loaded" src="'.$img.'">
		</div>




		</div>

		</div>

		</div>
		</div>';
		}
		
		echo '<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_22_1449589102199_5920"><div class="sqs-block-content"><hr></div></div>';
		echo '<div class="row sqs-row">
		<div class="col sqs-col-10 span-10">
		'.$imageCode.'
			
		<div data-block-type="2" class="sqs-block html-block sqs-block-html">
					<p><a  href="'.$url.'">'.$row->name.'</a></p>
		<div class="sqs-block-content">'.$row->notice.'
				<p><a  href="'.$url.'">Читать далее</a></p>
		    
		    </div>
		</div>
		</div>
		<div class="col sqs-col-2 span-2">
		<div data-block-type="2" class="sqs-block html-block sqs-block-html">
		<div class="sqs-block-content">
		<p>
		<span style="font-size: 12px">Posted on </span><a href="#">'.$this->formatDate('d.m.Y',$row->date).'</a>
		</p>
		</div>
		</div>
		</div>
		</div>';
	}
}

?>
<?php
BreadcrumbsTitle::set('События в области психологии | новости детского психологического центра Август');
Metas::setDescription('События в области психологии, новости Центра детской психологии и психоанализа Август в Москве. Программы и конференции по психологии для детей и взрослых.');
Metas::setKeywords('новости в области психологии, новости по психологии, новости центра август');
?>




