<?php
$this->setLimit ( 'all' );
$slides = $this->getSlider ();
if (is_array ( $slides ) && count ( $slides ) > 0) {
	echo '	<div class="gallery1">
			<ul class="jcarousel-skin-tango">';
	foreach ( $slides as $row ) {
		$image = $this->getItemImage ( $row->id );
		if ($image) {
		
				echo '<li><img src="' . $image->path . '/' . $image->file . '" alt="" /></li>';
			}}
	echo '</ul>
		</div>';
}

/*
<div class="gallery1">
			<ul class="jcarousel-skin-tango">
				<li><img src="/template/default/img/pic951-1.jpg" alt="" /></li>
				<li><img src="/template/default/img/pic951-2.jpg" alt="" /></li>
				<li><img src="/template/default/img/pic951-3.jpg" alt="" /></li>			
			</ul>
		</div>

*/
?>
					
					