<?php
if (($page = $this->getPage ()) != false) {
	?>
<div class="sqs-block html-block sqs-block-html" data-block-type="2"
	id="block-yui_3_17_2_19_1449589102199_6265">
	<div class="sqs-block-content">
		<h1 class="text-align-center">
			<?php 
			if(!empty($page->h1)){
				echo $page->h1;
			}
			else{
				echo $page->Title;
			}

			?>
		</h1>
	</div>
</div>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule"
	data-block-type="47" id="block-yui_3_17_2_19_1449589102199_5927">
	<div class="sqs-block-content">
		<hr>
	</div>
</div>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
function sendcontact()
{
	$.ajax({
		url: '/form.php',
		data: $('#contacts').serialize(),
		dataType: 'json',
		type: 'post',
		success:function(data){
			if(data.success)
			{
				$('#contacts').trigger('reset');
				alert('Ваш запрос отправлен!');
			}
			if(data.failure)
			{

				if(data.msg){
				alert(data.msg);
					}
			}
		},
		error: function(){
			alert("Во время отправки произошла ошибка!");	
		}
		});
}
</script>
<div class="sqs-block image-block sqs-block-image" data-block-type="5"
	id="block-yui_3_17_2_14_1456612117099_5981">
	<div class="sqs-block-content">
		<div class="image-block-outer-wrapper layout-caption-hidden ">

			<?php 

			if($page->Id==38)
			{

				$form=<<<HTML
		        <div class="col sqs-col-8 span-8">
            <div id="block-yui_3_17_2_3_1453235171708_21290" data-block-type="9"
                 class="sqs-block form-block sqs-block-form">
                <div class="sqs-block-content">

                    <div class="form-wrapper">


                        <div class="form-inner-wrapper">

                            <form
                                  method="POST" action="#" id="contacts" autocomplete="on">


                                <div class="field-list clear">


                                    <div class="form-item field text" id="text-yui_3_17_2_1_1457477517160_16681">
                                        <label for="text-yui_3_17_2_1_1457477517160_16681-field"
                                               class="title">Имя</label>

                                        <input type="text" id="text-yui_3_17_2_1_1457477517160_16681-field"
                                               class="field-element text" name="name">
                                    </div>


                                    <div class="form-item field text" id="text-yui_3_17_2_1_1457477517160_18008">
                                        <label for="text-yui_3_17_2_1_1457477517160_18008-field"
                                               class="title">Фамилия</label>

                                        <input type="text" id="text-yui_3_17_2_1_1457477517160_18008-field" name="last_name"
                                               class="field-element text">
                                    </div>


                                    <div class="form-item field email" id="email-yui_3_17_2_1_1453235171708_67850">
                                        <label for="email-yui_3_17_2_1_1453235171708_67850-field"
                                               class="title">Email </label>

                                        <input type="text" id="email-yui_3_17_2_1_1453235171708_67850-field"
                                               spellcheck="false" x-autocompletetype="email" name="email"
                                               class="field-element">
                                    </div>


                                    <fieldset class="form-item fields phone"
                                              id="phone-yui_3_17_2_1_1453235171708_94157">
                                        <div class="title">Телефон</div>
                                        <legend>Телефон</legend>


                                        <div class="field text three-digits">
                                            <label class="caption"><input type="text" data-title="Areacode"
                                                                          maxlength="3"
                                                                          x-autocompletetype="phone-area-code"
                                                                        name="phone1"  class="field-element">
                                                (###)</label>
                                        </div>
                                        <div class="field text three-digits">
                                            <label class="caption"><input type="text" data-title="Prefix" maxlength="3"
                                                                          x-autocompletetype="phone-local-prefix"
                                                                          class="field-element" name="phone2">
                                                ###</label>
                                        </div>
                                        <div class="field text four-digits">
                                            <label class="caption"><input type="text" data-title="Line" maxlength="4"
                                                                          x-autocompletetype="phone-local-suffix"
                                                                          class="field-element" name="phone3">
                                                ####</label>
                                        </div>
                                    </fieldset>


                                    <div class="form-item field textarea"
                                         id="textarea-yui_3_17_2_1_1453235171708_68706">
                                        <label for="textarea-yui_3_17_2_1_1453235171708_68706-field" class="title">Комментарии</label>
                                        <div class="description">краткое описание проблемы; специалист; предпочтительные
                                            дата и время
                                        </div>
                                        <textarea name="comments" id="textarea-yui_3_17_2_1_1453235171708_68706-field"
                                                  class="field-element "></textarea>
                                    </div>


                                </div>


                                <div class="form-button-wrapper form-button-wrapper--align-center">
                                    <input type="submit" value="Запись" onclick="sendcontact();return false"
                                           class="button sqs-system-button sqs-editable-button">
                                </div>


                                <div class="hidden form-submission-text"><p>Thank you!</p></div>

                                <div data-submission-html="" class="hidden form-submission-html"></div>
                            </form>

                        </div>


                    </div>
                </div>
            </div>
        </div>
HTML;
				$page->Text= str_replace("{form}", $form,  $page->Text);
			}

			?>


			<?php echo $page->Text; ?>




		</div>

	</div>
</div>
<?php 

} else {

	echo '<p>Страница не найдена</p>';
}
