<?php
$this->setFileTemplate('news_item');
$row = $this->getNewsItem();
if($row!=false)
{

	$image = $this->getItemImage($row->id);
	$url = $this->getUrl(array('module' => 'news','news' => $row->id));
	$imageCode = '';
	if($image) {
		$src = '/thumbs/714x461/' . $image->path . '/' . $image->file;
		$imageCode = '<div data-block-type="5" class="sqs-block image-block sqs-block-image">
	<div class="sqs-block-content">
	<div class="image-block-outer-wrapper layout-caption-hidden ">

	<div style="max-width: 100%;" class="intrinsic">

	<div data-description=""
	class="image-block-wrapper   has-aspect-ratio"
	style="padding-bottom: 64.56582641601562%;">
	<img src="'.$src.'" alt="'.$row->name.'" title="'.$row->name.'">
	</div>




	</div>

	</div>

	</div>
	</div>';
	}
	
	echo '	<div id="block-yui_3_17_2_23_1449589102199_6248"
	data-block-type="2" class="sqs-block html-block sqs-block-html">
	<div class="sqs-block-content">
	<h1 class="text-align-center">'.$row->name.'</h1>
	</div>
	</div>
	<div id="block-yui_3_17_2_23_1449589102199_5910"
	data-block-type="47"
	class="sqs-block horizontalrule-block sqs-block-horizontalrule">
	<div class="sqs-block-content">
	<hr>
	</div>
	</div><div class="row sqs-row">
	<div class="col sqs-col-10 span-10">
	'.$imageCode.'
	<div data-block-type="2" class="sqs-block html-block sqs-block-html">
	<div class="sqs-block-content">
	<p>'.$row->desc.'</p>
	<p class="text-align-right"><a href="'.$this->getUrl(array('module'=>'news')).'">Вернуться в Блог</a></p>
	</div>
	</div>
	</div>
	<div class="col sqs-col-2 span-2">
	<div data-block-type="2" class="sqs-block html-block sqs-block-html">
	<div class="sqs-block-content">
	<p>
	<span style="font-size: 12px">Posted on</span><span
	style="font-size: 12px">&nbsp;</span><a href="#">'.$this->formatDate('d.m.Y', $row->date).'</a>
	</p>
	</div>
	</div>
	</div>
	</div>';

}
?>


