<?php 
$this->setFileTemplate('news');
$items = $this->getNews();

if($items!=false){

	foreach($items as $row){
		$image = $this->getItemImage($row->id);
		$url = $this->getUrl(array('module' => 'news','news' => $row->id));
		$imageCode = '';
		if($image) {
			$src = '/thumbs/200x130/' . $image->path . '/' . $image->file;
			$imageCode = '<div id="block-yui_3_17_2_45_1454270123572_6743" data-block-type="5" class="sqs-block image-block sqs-block-image" style="width:200px; float:left">
		<div class="sqs-block-content" id="yui_3_17_2_1_1474371648465_76">
		<div class="image-block-outer-wrapper layout-caption-hidden " id="yui_3_17_2_1_1474371648465_75">

		<div style="max-width:100%;" class="intrinsic" id="yui_3_17_2_1_1474371648465_74">

		<a href="'.$url.'" id="yui_3_17_2_1_1474371648465_73">

		<div data-description="&lt;p&gt;.:&lt;/p&gt;" class="image-block-wrapper   has-aspect-ratio" style="padding-bottom:64.56582641601562%;" id="yui_3_17_2_1_1474371648465_72">
		<img alt="'.$row->name.'" title="'.$row->name.'" src="'.$src.'"/>

		</div>

		</a>




		</div>

		</div>

		</div></div>';
		}
		

		echo '<div class="row sqs-row" id="yui_3_17_2_1_1474371648465_78"><div class="col sqs-col-10 span-10" id="yui_3_17_2_1_1474371648465_77"><div id="block-yui_3_17_2_50_1454270123572_15246" data-block-type="2" class="sqs-block html-block sqs-block-html"><div class="sqs-block-content"><h3 style="font-size: 30px;">'.$row->name.'</h3></div></div>
		'.$imageCode.'<div id="block-56617ebce4b0ff01bbfb62b7" data-block-type="2" class="sqs-block html-block sqs-block-html"><div class="sqs-block-content"><p style="margin-top:0">'.$row->notice.'</p><p class="text-align-right"><a  href="'.$url.'">Читать далее</a></p></div></div></div><div class="col sqs-col-2 span-2">
		<div id="block-yui_3_17_2_48_1454270123572_11466" data-block-type="21" class="sqs-block spacer-block sqs-block-spacer sized vsize-1"><div class="sqs-block-content">&nbsp;</div></div>
		<div id="block-yui_3_17_2_50_1454270123572_21955" data-block-type="2" class="sqs-block html-block sqs-block-html"><div class="sqs-block-content"><p><span style="font-size:12px">Posted on</span><span style="font-size:12px">&nbsp;</span><a href="#">'.$this->formatDate('Y.m.d', $row->date).'</a></p></div></div></div></div>';
	}

}else
{
	echo '<p>Нет записей!</p>';
}



BreadcrumbsTitle::set('Блог о психологии | статьи о психологических проблемах и методах их лечения от Центра Август');
Metas::setDescription('Блог о психологии, интересные статьи о психологических проблемах, методах помощи и психоанализа для их лечения от Центра детской психологии Август в Москве.');
Metas::setKeywords('блог о психологии, статьи по детской психологии');
?>
