<?php
$this->setFileTemplate('index');
if (($items = $this->getBrands ()) != false) {
	$i = 0;
	$v = 0;
	$total = count ( $items );
	echo '<table class="blockTable2">';
	foreach ( $items as $row ) {
		$i ++;
		$v ++;
		$image = $this->getItemImage ( $row->Id );
		if ($i == 1) {
			echo '<tr>';
		}
		if ($image != false) {
			$image = '<img src="/thumbs/100x115/' . $image->path . '/' . $image->file . '" alt="' . htmlspecialchars ( $row->Title, ENT_COMPAT, 'cp1251' ) . '"/>';
		} else {
			$image = '<img  src="/thumbs/100x115/template/default/img/nophoto.jpg"  alt="' . htmlspecialchars ( $row->Title, ENT_COMPAT, 'cp1251' ) . '"/>';
		}
		
		echo '<td><a href="' . $this->getUrl ( array (
				'module' => 'brands',
				'brands' => $row->Id 
		) ) . '">' . $image . '</a><span><a
				href="' . $this->getUrl ( array (
				'module' => 'brands',
				'brands' => $row->Id 
		) ) . '">' . $row->Title . '</a></span></td>';
		if ($i == 4 || $v == $total) {
			$i = 0;
			echo '</tr>';
		}
	}
	echo '</table>';
}