.collection-type-index #content-wrapper {opacity:1}
  .parallax-item .scroll-arrow {display:block;}
  
  @media screen and (min-width: 0) and (max-width: 630px) {	
	body h1.page-title, body h2.page-title {padding-top:40px !important; color:#000}
	body .page-desc {color:#000;}
}

.collection-type-index #content-wrapper {
	opacity: 1
}

.parallax-item .scroll-arrow {
	display: block;
}
/*.parallax-item .scroll-arrow, .parallax-item .scroll-arrow span { color:#000 !important}*/

.parallax-item, .content-inner {background:#f9f2e1 !important}


#collection-565cad5ce4b0c377c4755f9f .title-desc-wrapper{height:800px !important;}