  .collection-type-index #content-wrapper {opacity:1}
  .parallax-item .scroll-arrow {display:block;}
	
	#content-wrapper .content, .content-inner  {background:#f9f2e1 !important}
	
@media screen and (min-width: 0) and (max-width: 630px) {	
	.title-desc-wrapper.over-image.has-main-image {background:#f00 !important; height:auto !important;}
	body h1.page-title {padding-top:40px !important; color:#000}
	body .page-desc {color:#000;}
}

#collection-565cad5ce4b0c377c4755f9f .title-desc-wrapper{height:800px !important;}


@media only screen and (max-width: 1024px) {
.sqs-block-content p {
    font-size: 13px !important; line-height:20px;
}